@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 474px">
    <div class="text-center">
        <i class="fas fa-exclamation fa-3x text-dark mb-3"></i>
        <h3>Oops...</h3>
        <h6>Something Went Wrong</h6>
        <p class="text-muted px-5">An error occurred. Please try again later.</p>
        <a href="/" class="btn btn-primary mt-2 rounded-pill shadow-sm" style="font-size: 14px">Return to Home</a>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#footer").classList.remove("mt-5");
    });
</script>